<!DOCTYPE html>
<html>
<head>
    <title>Surveillance Dashboard</title>

    <style>
        body{
            background:#0f172a;
            color:white;
            text-align:center;
            font-family:Arial;
        }

        img{
            width:640px;
            border-radius:12px;
            margin-top:20px;
        }

        button{
            padding:12px 25px;
            font-size:18px;
            border:none;
            border-radius:8px;
            cursor:pointer;
        }
    </style>
</head>

<body>

<h1>Surveillance Chambre</h1>

<br>

<img src="/video_feed">

<script>

</script>

</body>
</html>